*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}/*전처리 부분 초기값 '0', 폰트는 저작권 안걸리는걸로 하세요(깃에 최종적으로 올리기 전에 확인 100번 하기!! 잘못하면 돈내야 함).*/

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img/banner.jpeg);
    background-position: center;
    background-size: cover;
    position: absolute;
}/*div class히어로 하위객체 css. 백그라운드 어둡게 처리*/

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}/*로그인 박스 설정(배경색은 흰색)히든처리 중요*/

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f; 
    border-radius: 30px;
}/*버튼 박스 그라디언트 박스 섀도우 처리*/

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}/*버튼 css 맥이는거. (백그라운드 transparent, 아웃라인 완전히 죽였음)*/

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
} /*버튼 색깔 포지션 하위 크기 설정 및 색지정 (나중에 색깔은 맘대로 바꿔도 댐)*/

.social-icons{
    margin: 30px auto;
    text-align: center;
} /*아이콘 크기 설정 및 위치 설정*/

.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
}/*아이콘 크기 설정 및 위치 설정 & 크기값 설정*/

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}/*박스 크기 설정*/

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}/*input-field 세부 설정*/

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}/*로그인 버튼 세부 설정*/

.check-box{
    margin: 30px 10px 30px 0;
}/*체크 박스 마진값*/

span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}/*span 값 색 & 글자크기 설정*/

#login{
    left: 50px;
}/*로긴 부분*/

#register{
    left: 450px;
}/*회원 가입 부분 (버튼을 이동할 부분에 숨김처리 & 자간 맞추기) 특히, 마크업 부분에 길이 부분 조심*/